<dl class="dl-horizontal">
  <dt>Author:</dt><dd><%= @ddl.meta[:author] %></dd>
  <dt>Version</dt><dd><%= @ddl.meta[:version] %></dd>
  <dt>License</dt><dd><%= @ddl.meta[:license] %></dd>
  <dt>Timeout</dt><dd><%= @ddl.meta[:timeout] %></dd>
  <dt>Homepage</dt><dd><a href="<%= @ddl.meta[:url] %>"><%= @ddl.meta[:url] %></a></dd>
</dl>
