<p class="lead">Managing <%= @rpcutil.discover.size %> nodes using the <%= @rpcutil.agent.client.discoverer.discovery_method %> discovery plugin</p>
<br />
<H3>Agents</H3>
<br />
<table class="table table-condensed table-striped table-bordered table-sorted">
  <thead>
    <th>Agent</th>
    <th>Description</th>
  </thead>
  <tbody>
    <% MCORPC::MCWrapper.agents.each do |agent| %>
      <tr><td style="width: 10%"><a href="/agent/<%= agent[0] %>"><%= agent[0] %></a></td><td><%= agent[1] %></td></tr>
    <% end %>
  </tbody>
</table>

<br />
<H3>Data Plugins</H3>
<br />
<table class="table table-condensed table-striped table-bordered table-sorted">
  <thead>
    <th>Data Pugin</th>
    <th>Description</th>
  </thead>
  <tbody>
    <% MCORPC::MCWrapper.data_plugins.each do |data| %>
      <tr><td style="width: 10%"><a href="/data/<%= data[0] %>"><%= data[0].gsub("_data", "") %></a></td><td><%= data[1] %></td></tr>
    <% end %>
  </tbody>
</table>
