<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>mcollective rpc</title>
    <!--
    <link rel="stylesheet/less" type="text/css" href="/less/bootstrap.less">

    <script type="text/javascript" src="/js/less-1.3.0.min.js"></script>
    -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/css/mcollective.css">

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-transition.js"></script>
    <script type="text/javascript" src="/js/bootstrap-alert.js"></script>
    <script type="text/javascript" src="/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="/js/bootstrap-scrollspy.js"></script>
    <script type="text/javascript" src="/js/bootstrap-tab.js"></script>
    <script type="text/javascript" src="/js/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="/js/bootstrap-popover.js"></script>
    <script type="text/javascript" src="/js/bootstrap-button.js"></script>
    <script type="text/javascript" src="/js/bootstrap-collapse.js"></script>
    <script type="text/javascript" src="/js/bootstrap-carousel.js"></script>
    <script type="text/javascript" src="/js/bootstrap-typeahead.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.21.custom.min.js"></script>
  </head>

  <body style="padding-top: 80px;">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/">MCollective RPC</a>
            <ul class="nav">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Agents<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <% MCORPC::MCWrapper.agents.each do |agent| %>
                    <li><a href="/agent/<%= agent[0] %>"><%= agent[1].capitalize %></a></li>
                  <% end %>
                </ul>
              </li>
              <% if @ddl && @ddl.instance_variable_get("@plugintype") == :agent %>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Actions<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <% @actions.sort_by{|a| @ddl.action_interface(a)[:description] }.each do |action| %>
                    <li><a href="/agent/<%= @agent %>/action/<%= action %>"><%= @ddl.action_interface(action)[:description] %></a></li>
                  <% end %>
                </ul>
              </li>
              <% end %>
              <li class="divider-vertical"></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Data Sources<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <% MCORPC::MCWrapper.data_plugins.each do |data| %>
                    <li><a href="/data/<%= data[0] %>"><%= data[1].capitalize %></a></li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <% if @error %>
            <div class="alert alert-error">
              <%= @error %>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
    <script>
      $(function () {
        $(".table-sorted").tablesorter();
      });
      $(function() {
        $(".table-selectable").selectable({
          filter: "td",
          distance: 0
        });
      });
    </script>
  </body>
</html>
