<H1><%= params[:agent].capitalize %> Agent <small><%= @ddl.meta[:description] %></small></H1>

<br />

<H3>Agent Metadata</H3>
<br />
<%= erb :_meta_data_partial %>

<H3>Actions</H3>
<table class="table table-condensed table-striped table-bordered table-sorted">
  <thead>
    <th>Action</th>
    <th>Description</th>
  </thead>
  <tbody>
    <% @ddl.actions.sort.each do |action| %>
      <tr><td><a href="/agent/<%= @agent %>/action/<%= action %>"><%= action %></a></td><td><%= @ddl.action_interface(action)[:description] %></td></tr>
    <% end %>
  </tbody>
</table>
